.notificationContainer {
  border-radius: 4px;
  position: fixed;
  bottom: 12px;
  right: -300px;
  width: 25%;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s forwards;
  padding: 1rem;
  background-clip: border-box;
}

.notification {
  background: red;
}

.notificationMessage {
  margin-bottom: 0;
}

.closeToastButton {
  background: transparent;
  border: none;
  padding: 0;
}

.toastHeader {
  text-align: right;
}

.toastContent p {
  margin: 0;
}

@keyframes toast-in-right {
  100% {
    right: 12px;
  }
}
