.notificationContainer {
  border: 1px solid black;
  position: fixed;
  bottom: 12px;
  right: -300px;
  width: 25%;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s forwards;
  padding: 0.6rem;
  background-clip: border-box;
}

.notification {
  background: red;
}

.notificationMessage {
  margin-bottom: 0;
}

.toast {
}

@keyframes toast-in-right {
  100% {
    right: 12px;
  }
}
