.leftMenu {
  flex: 1;
}

.logoutButton {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.logoutButton:hover {
  cursor: pointer;
}

.navContainer {
  background: #f0c7bf;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 3em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navLink {
  font-weight: 500;
  padding: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navLink:visited {
  color: inherit;
}

.navLink:hover,
.logoutButton:hover {
  color: white;
  transition: 0.2s;
}

.rightMenu {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
