:root {
  --dark-grey: #676a6a;
  --dark-pink: #f0c7bf;
  --light-pink: #efe8e7;
  --green: #61b9b8;
  --yellow: #efd483;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Lato', sans-serif;
}
